
<div class="text-center">
	<div class="col-md-8 col-xs-12 col-sm-8">
		<div class="card bg-light text-dark">
			<h1>Edición de ToDos</h1>
			
			<%= form_with(model: @todo, local: true) do |form| %>
			<%= form.label 'Descripción:' %>
			<%= form.text_field :description %>
			
			<br>
			<%= form.submit 'Guardar', class:'btn btn-success'%>
			<%= link_to  "Volver al Home", root_path, class:'btn btn-info' %>
			<br><br>
			
			<% end %>
		</div>	
	</div>
</div>
