<strong class="text-danger"><%= notice %></strong>

<h1>Creación de ToDo</h1>

<%= form_with(model: @todo, local: true) do |form| %>
	<%= form.label :description %>
	<%= form.text_field :description %>

	<br>
	<%= form.submit 'Crear'%>

<% end %>

<%#= link_to  "Volver al index", root_path %>